.table,
th,
td {
  border: 1px solid;
}

.table {
  width: 100%;
}

.page-count {
  display: flex;
  width: 100%;
  border: 1px solid;
  overflow: scroll;
}

.active-page {
  background-color: #aeaeae;
}

.page-number {
  padding: 5px;
  border: 1px solid;
  cursor: pointer;
}

.pagination {
  display: flex;
  align-items: center;
}
